<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="denal05_ad0e702_demo_text_event">
        <observer
            name="Denal05__Demo_Observer"
            instance="Denal05\Ad0e702ExerciseSeeEventObserverExecViaLog\Observer\SeeDemoTextFromEvent"
        />
    </event>
</config>
